@import "tailwindcss";
@config "../../tailwind.config.ts";

@theme {
  --font-space-grotesk: "Space Grotesk", sans-serif;
}

@keyframes scroll {
  from {
    transform: translateX(-33.33%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.33%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-scroll-reverse {
  animation: scroll-reverse 30s linear infinite;
}
